body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* Styling for the container of the to-do list */
.todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 180px;
}
 
h1 {
    text-align: center;
    color: #333;
    font-size: x-large;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
   
}

button {
    width: 45%;
    padding: 10px;
    margin: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: xx-small;
}
/* to align the item to the center */
#addTaskBtn{
    margin-left:50px ;
}


button:hover {
    background-color: #218838;
    
}
/* adding the display flex, made the content to be on a row */
.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter-btn {
    background-color: #007bff;
    border: none;
    color: white;
    /* padding: 8px 15px; */
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    font-size: x-small;
}

.filter-btn.active {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    
}

li {
    background-color: #eee;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
}

li.completed {
    text-decoration:line-through;
    color: grey;
    font-size: smaller;
}

button.remove-btn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-small;
}

button.remove-btn:hover {
    background-color: #c82333;
} 
